body {
  margin: 0;
}

h1 {
  text-align: center;
}

#game-container {
  justify-self: right;
}

#game {
  border: solid 1px black;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -mor-crisp-edges;
}

#death {
  text-align: center;
}

button {
  margin-top: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

section {
  flex-grow: 1;
}
